/*------------------- General Styles------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    justify-content: center;
    align-items: center;
    color: white;
}
[ class*="col-"]{
    padding: 1rem;
    font-size: 12px;
}

.col>.row,
[ class*="col-"]>.row[ class*="col-"] {
    padding: 1rem;
}

.col>.row,
[ class*="col-"]>.row {
    background-color: green;
}
